NODE_ENV=development
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
PORT=8080 

JWT_SECRET=supersecret
JWT_EXPIRES_IN=30d
JWT_COOKIE_EXPIRES_IN=30

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=default
DB_PASSWORD=secret
DB_DATABASE=default